[submodule "libjpeg-turbo"]
	path = jni/vendor/libjpeg-turbo
	url = https://github.com/openstf/android-libjpeg-turbo.git
[submodule "libimagemagick"]
	path = jni/vendor/libimagemagick
	url = https://github.com/qband/Android-libImageMagick.git
